<div class="col-md-3 hidden-xs"></div>
<div class="col-xs-12 col-md-6">

<h1>tag check</h1>
<br>
<%= form_tag('', {multipart: true, class: 'form'}) do %>
  <div class="form-group">
    <%= file_field_tag 'CSVfile' %>
  </div>
  <div class="form-group">
    <%= text_field_tag 'search-term', "", {:placeholder => 'Search term here', :class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label_tag(:include_dynamic_tags, "Include dynamically loaded tags (takes longer)") %>
    <%= check_box_tag 'include_dynamic_tags', "true", false %>
  </div>
  <button class='btn btn-default' id='test-button'>Process URLs</button>
<% end %>

<div id="test-results">
  <table class="table">
    <thead>
      <tr>
        <th>URL</th>
        <th>HTTP code</th>
        <th>HTTP status</th>
        <th>Redirect</th>
        <th>Search term exists?</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<p>&nbsp;</p>
<div class="instructions">
<h3>instructions</h3>
<p/>
Choose a CSV file -- <em>it must be in CSV format only</em> -- and upload it here. The file must have <em>NO</em> header row and only one column: a list of URLs including the leading "http://" or "https://" portions.
<p/>
Once you've hit the "Process URLs" button, do <em>NOT</em> press the button again. Just wait until the app has pinged all of the URLs. The resulting table will contain the original file's URLs, as well as four additional fields:
<p/>
1) HTTP code
<br>
2) HTTP status
<br>
3) Redirect (if applicable): up to 5 successive redirects for any given URL will be pinged, and the last one will be returned
<br>
4) Search term existence (if applicable): if a search term has been entered, indicates whether it exists in the returned HTML (if the box above is checked, then the dynamically fired tags will be searched as well)
</div>
</div>
<div class="col-md-3 hidden-xs"></div>
